@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');
:root {
    --color-primary:#292526;
    --color-secundary:#1B2028;
    --color-ternary:#A4AAAD;
    --color-quaternary:#111111;
}